:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #087dea;
  --color-text: #E7EDF1;
  --color-red: #E34040; }

@font-face {
  font-family: "CYR";
  src: url("../fonts/../fonts/franckerCYR-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "CYR";
  src: url("../fonts/../fonts/franckerCYR-semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "ONE";
  src: url("../fonts/../fonts/prosto-one-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "GILROY";
  src: url("../fonts/../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

body {
  margin: 0;
  font-family: "GILROY", sans-serif;
  color: var(--color-text);
  background: #07071c; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit;
  text-transform: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  background: none;
  border: none; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

input, textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none; }

.main {
  position: relative; }

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 1; }

.title {
  font-family: "ONE";
  font-weight: 400;
  font-size: calc(16px + 19 * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  color: var(--color-text); }

.text {
  font-family: "GILROY";
  font-weight: 500;
  color: var(--color-text); }

.main__bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 5s;
  /* animation: animate 4s linear infinite; */ }

/* Hexagon using clip-path */
.hexagon {
  position: relative;
  width: 150px;
  height: 173px;
  background: #07071c;
  /* margin: 1px; */
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s; }

.hexagon:hover {
  transition: 0s;
  background: #087dea; }

.hexagon:before {
  content: url(../img/cell.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  pointer-events: none;
  /* background: rgba(255, 255, 255, 0.02); */ }

.row {
  display: inline-flex;
  margin-top: -44px;
  margin-left: 152px; }

.row:nth-child(even) {
  margin-left: 1px; }

@-webkit-keyframes animate {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

@keyframes animate {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

/*# sourceMappingURL=global.css.map */
