<div class="aside-menu">
  <div class="aside-menu__wrapper">
      <ul class="aside-menu__items">
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link">Главная</a>
        </li>
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link">Проекты</a>
        </li>
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link">Услуги</a>
        </li>
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link">Отзывы</a>
        </li>
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link">Контакты</a>
        </li>
        <li class="aside-menu__item">
          <a href="#/" class="aside-menu__link aside-menu__link--offer">Скачать предложение
            <svg>
              <use xlink:href="../img/aside-arrow.svg#aside-arrow"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
</div>