<section class="control section">
  <h3 class="control__title title">Cистема управления инсталляциями</h3>
  <div class="description__content">
    <div class="description__list">
      <img class="description__list-img" loading="lazy" src="img/frames.svg" alt="">
      <ul class="description__items">
        <li class="description__item text">
          DP Intelligence Control System - собственная эксклюзивная разработка нашей компании.
        </li>
        <li class="description__item">
          Управление оборудованием всего помещения с компьютера, планшета, смартфона.
        </li>
        <li class="description__item">
          Бескрайние возможности, индивидуальная адаптация под каждый проект.
        </li>
        <li class="description__item">
          Работа всех инсталляций в ручном режиме и/или по расписанию.
        </li>
        <li class="description__item">
          Максимально простой, удобный, понятный всем интерфейс.
        </li>
      </ul>
    </div>
    <div class="description__video">
      <img class="description__video-frame-stroke" loading="lazy" src="img/frame-stroke.svg" alt="">
      <img class="description__video-img" src="img/control.jpg" alt="">
    </div>
  </div>
</section>
