<section class="design section">
  <h3 class="design__title title">От проектирования до комплексного оснащения</h3>
  <div class="card">
    <div class="card__item">
      <div class="card__item-title">
        <h4>Разработка концепции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img class="card__item-img" src="img/card/card-gradient-hover.svg" loading="lazy" alt="">
          <img class="card__item-img-frame" src="img/design/design-1.jpg" loading="lazy" alt="">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Индивидуальный подход – уникальные проекты. </li>
        <li class="card__item-feature text">Создаем концепцию любого пространства. </li>
        <li class="card__item-feature text">Учитываем все возможные нюансы.</li>
        <li class="card__item-feature text">Креатив на первом месте.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Дизайн и проектирование</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img src="img/card/card-gradient-hover.svg" loading="lazy" alt="" class="card__item-img">
          <img src="img/design/design-2.jpg" loading="lazy" alt="" class="card__item-img-frame">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Составляем техническое задание и дизайн-проект.</li>
        <li class="card__item-feature text">Разрабатываем проектную документацию.</li>
        <li class="card__item-feature text">Проектируем техническое оснащение от А до Я.</li>
        <li class="card__item-feature text">Создаем дизайн помещений и комплексов.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Комплексное оснащение</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img class="card__item-img" src="img/card/card-gradient-hover.svg" loading="lazy" alt="">
          <img class="card__item-img-frame" src="img/design/design-3.jpg" loading="lazy" alt="">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Интерактивные пространства и комплексы.</li>
        <li class="card__item-feature text">Изготовление выставочного оборудования.</li>
        <li class="card__item-feature text">Поддержка и сервисное обслуживание.</li>
        <li class="card__item-feature text">Поставка, монтаж и пуско-надалка. </li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
  </div>
</section>