<section class="development section">
  <h3 class="development__title title">Разработка AR, MR, VR приложений и контента</h3>
  <div class="card">
    <div class="card__item">
      <div class="card__item-title">
        <h4>Дополненная реальность (AR)</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img src="img/card/card-gradient-hover.svg" loading="lazy" alt="" class="card__item-img">
          <img src="img/development/development-1.jpg" loading="lazy" alt="" class="card__item-img-frame">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Взаимодействие с изображениями и объектами.</li>
        <li class="card__item-feature text">Используем местоположение и перемещение.</li>
        <li class="card__item-feature text">Интерактивные AR квесты и игры.</li>
        <li class="card__item-feature text">Исключительные возможности.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Cмешанная реальность (MR)</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img src="img/card/card-gradient-hover.svg" loading="lazy" alt="" class="card__item-img">
          <img src="img/development/development-2.jpg" loading="lazy" alt="" class="card__item-img-frame">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Полномасштабные дополненные миры.</li>
        <li class="card__item-feature text">Взаимодействие и обратный отклик от объектов.</li>
        <li class="card__item-feature text">Улучшаем возможности дополненной реальности.</li>
        <li class="card__item-feature text">Расширяем горизонты существующих пространств.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Виртуальная реальность (VR)</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <div class="card__item-photo-wrapper">
          <img src="img/card/card-gradient-hover.svg" loading="lazy" alt="" class="card__item-img">
          <img src="img/development/development-3.jpg" loading="lazy" alt="" class="card__item-img-frame">
        </div>
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Воссоздаем или создаем любые пространства в 3Д.</li>
        <li class="card__item-feature text">Удаленный просмотр существующих пространств.</li>
        <li class="card__item-feature text">Виртуальные шоу, потрясающие воображение.</li>
        <li class="card__item-feature text">Увлекательные виртуальные туры и игры.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="img/button/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="img/button/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
  </div>
</section>