<header class="header">
  <div class="header__top">
    <div class="header__btn">
      <div class="header__btn-burger"></div>
    </div>
    <div class="header__logo">
      <svg>
        <use xlink:href="../img/header/logo.svg#logo"></use>
      </svg>
    </div>
    <div class="header__menu">
      <ul class="header__items">
        <li class="header__item">
          <a href="#/" class="header__link">Главная</a>
        </li>
        <li class="header__item">
          <a href="#/" class="header__link">Проекты</a>
        </li>
        <li class="header__item">
          <a href="#/" class="header__link">Отзывы</a>
        </li>
        <li class="header__item">
          <a href="#/" class="header__link">Контакты</a>
        </li>
        <li class="header__item">
          <a href="#/" class="header__link header__link--task">Обсудить задачу</a>
        </li>
      </ul>
    </div>
    <a href="tel:+79376150503" class="header__tel">
      <div class="header__tel-icons">
        <svg class="header__tel-icon header__tel-icon--tel">
          <use xlink:href="../img/header/tel.svg#tel"></use>
        </svg>
        <svg class="header__tel-icon header__tel-icon--rect">
          <use xlink:href="../img/header/rectangle.svg#rectangle"></use>
        </svg>
        24/7
      </div>
      <p class="header__tel-number">+7-937-615-05-03</p>
    </a>

  </div>

  <div class="header__content">
    <div class="header__text">
      <h1 class="header__title">технологии будущего доступны ВСЕМ</h1>
      <h3 class="header__description">Создаем интерактивные пространства. Воплотим любые Ваши идеи</h3>
    </div>
    <div class="button__wrapper">
      <a href="#/" class="button__blue" href="#/">
        <svg class="button__blue-svg button__blue--fill">
          <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
        </svg>
        <svg class="button__blue-svg button__blue--empty">
          <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
        </svg>
        <span>Все проекты</span>
      </a>
      <a href="#/" class="button__red" href="#/">
        <svg class="button__red-svg button__red--fill">
          <use xlink:href="../img/header/button-red-fill.svg#red-fill"></use>
        </svg>
        <svg class="button__red-svg button__red--empty">
          <use xlink:href="../img/header/button-red-empty.svg#red-empty"></use>
        </svg>
        <span>Все проекты</span>
      </a>
    </div>

  </div>

</header>