<section class="instalation section">
  <h3 class="instalation__title title">Создание поразительных инсталляций и контента</h3>
  <div class="card">
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Гарантированный WOW-эффект</li>
        <li class="card__item-feature text">Творческий подход к созданию</li>
        <li class="card__item-feature text">Удивительные спецэффекты</li>
        <li class="card__item-feature text">Собственные разработки</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo-2.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Собственное программное обеспечение.</li>
        <li class="card__item-feature text">Проекции реагируют на посетителей.</li>
        <li class="card__item-feature text">Полное погружение в новый мир.</li>
        <li class="card__item-feature text">Любые объекты и поверхности.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo-3.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Голографические пирамиды любого размера.</li>
        <li class="card__item-feature text">Голографические экраны высокой четкости.</li>
        <li class="card__item-feature text">Интерактивные проекционные иллюзии.</li>
        <li class="card__item-feature text">Отклик на движения посетителей.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo-4.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Собственная студия Creomonkeys Entertainment.</li>
        <li class="card__item-feature text">3D моделирование. Все виды 2D и 3D анимации.</li>
        <li class="card__item-feature text">Профессиональные художники и дизайнеры.</li>
        <li class="card__item-feature text">Видеопродакшн, моушн дизайн.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo-5.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Уникальный опыт взаимодействия с технологиями.</li>
        <li class="card__item-feature text">Разработки для интерактивных столов и витрин.</li>
        <li class="card__item-feature text">Работаем индивидуально без шаблонов.</li>
        <li class="card__item-feature text">Эксклюзивные программы и контент.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
    <div class="card__item">
      <div class="card__item-title">
        <h4>Мультимедиа инсталляции</h4>
        <div class="card__item-title-plug"></div>
      </div>
      <div class="card__item-photo">
        <img src="../img/card/frame.png" alt="" class="card__item-img">
        <img src="../img/instalation/frame-photo-6.png" alt="" class="card__item-img-frame">
      </div>
      <ul class="card__item-description">
        <li class="card__item-feature text">Увлекательные произведения искусства.</li>
        <li class="card__item-feature text">Любые игры для любых целей и задач.</li>
        <li class="card__item-feature text">Все системы: IOS, Android, Windows.</li>
        <li class="card__item-feature text">Интерактивные квесты, головоломки.</li>
      </ul>
      <div class="button__wrapper">
        <a href="#/" class="button__blue button__blue--small" href="#/">
          <svg class="button__blue-svg button__blue--fill">
            <use xlink:href="../img/header/button-blue-fill.svg#blue-fill"></use>
          </svg>
          <svg class="button__blue-svg button__blue--empty">
            <use xlink:href="../img/header/button-blue-empty.svg#blue-empty"></use>
          </svg>
          <span>Подробнее</span>
        </a>
      </div>
    </div>
  </div>
</section>