<section class="moreit section">
  <h3 class="moreit__title title">Намного больше чем IT</h3>
  <div class="description__content description__content--right">
    <div class="description__list">
      <img class="description__list-img description__list-img--right" loading="lazy" src="../img/frames.svg" alt="">
      <ul class="description__items description__items--right">
        <li class="description__item text">
          Весь мировой опыт и новинки в области информационных технологий.
        </li>
        <li class="description__item">
          Огромное количество самых положительных отзывов от посетителей.
        </li>
        <li class="description__item">
          Всегда находим подходящее решение под любой бюджет.
        </li>
        <li class="description__item">
          Масса эксклюзивных реализованных проектов.
        </li>
        <li class="description__item">
          С нами возможно все, что можно представить!
        </li>
      </ul>
    </div>
    <div class="description__video">
      <img class="description__video-frame-stroke" loading="lazy" src="../img/frame-stroke.svg" alt="">
      <img class="description__video-img" loading="lazy" src="../img/new-format.jpg" alt="">
    </div>
  </div>
</section>