<section class="newformat section section--small">
  <h3 class="newformat__title title">Технологии в новых форматах</h3>
  <div class="description__content description__content--right">
    <div class="description__list">
      <img class="description__list-img description__list-img--right" loading="lazy" src="img/frames.svg" alt="">
      <ul class="description__items description__items--right">
        <li class="description__item text">
          Уникальные и доступные рашения для музеев, галарей, выставок, театров.
        </li>
        <li class="description__item">
          Творческий подход делает инсталляции по-настоящему уникальными.
        </li>
        <li class="description__item">
          Постоянно внедряем новейшие способы взаимодействия с техникой.
        </li>
        <li class="description__item">
          Придумываем, экспериментируем и создаем новинки каждый день.
        </li>
        <li class="description__item">
          Поразительный пользовательский опыт для всех посетителей.
        </li>
      </ul>
    </div>
    <div class="description__video">
      <img class="description__video-frame-stroke" loading="lazy" src="img/frame-stroke.svg" alt="">
      <img class="description__video-img" loading="lazy" src="img/new-format.jpg" alt="">
    </div>
  </div>
</section>