<section class="philosophy section">
  <h3 class="philosophy__title title">DP Intelligence - философия будущего</h3>
  <div class="philosophy__content">
    <div class="philosophy__list">
      <ul class="philosophy__items">
        <li class="philosophy__item text">
          Полностью меняем представление о технологиях и их возможностях, делаем их доступными.
        </li>
        <li class="philosophy__item">
          Особенность философии - потрясающие воображение продукты с минимальным бюджетом.
        </li>
        <li class="philosophy__item">
          DP Intelligence заключает в себе особый метафизический смысл и подход к разработке.
        </li>
        <li class="philosophy__item">
          Бесконечная креативность, творчество, фантазия и опыт - бескрайние возможности.
        </li>
        <li class="philosophy__item">
          Создаем уникальные проекты, в каждый из которых вкладываем свою душу.
        </li>
      </ul>
    </div>
    <div class="philosophy__video">
      <img src="../img/philosophy/philosophy-robot.png" alt="">
    </div>
  </div>
</section>