<section class="philosophy section">
  <h3 class="philosophy__title title">DP Intelligence - философия будущего</h3>
  <div class="description__content">
    <div class="description__list">
      <img class="description__list-img" loading="lazy" src="../img/frames.svg" alt="">
      <ul class="description__items">
        <li class="description__item text">
          Полностью меняем представление о технологиях и их возможностях, делаем их доступными.
        </li>
        <li class="description__item">
          Особенность философии - потрясающие воображение продукты с минимальным бюджетом.
        </li>
        <li class="description__item">
          DP Intelligence заключает в себе особый метафизический смысл и подход к разработке.
        </li>
        <li class="description__item">
          Бесконечная креативность, творчество, фантазия и опыт - бескрайние возможности.
        </li>
        <li class="description__item">
          Создаем уникальные проекты, в каждый из которых вкладываем свою душу.
        </li>
      </ul>
    </div>
    <div class="description__video">
      <img class="description__video-frame-stroke" loading="lazy" src="../img/frame-stroke.svg" alt="">
      <img class="description__video-img" loading="lazy" src="../img/robot.jpg" alt="">
    </div>
  </div>
</section>